<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002555867596-b3fhj8pqr0fksuhj02b1dp794b9ji3tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002555867596-b3fhj8pqr0fksuhj02b1dp794b9ji3tk</string>
	<key>API_KEY</key>
	<string>AIzaSyDGowaCgFR2kGUukJDKKAaz-VWCpfNYaxY</string>
	<key>GCM_SENDER_ID</key>
	<string>1002555867596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexdev.fitmastery</string>
	<key>PROJECT_ID</key>
	<string>fit-mastery-b3341</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-mastery-b3341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002555867596:ios:b7139d2190785b58c11d69</string>
</dict>
</plist>